<header class="mb-9">
  <div class="relative">
    {% if page.layout == "home" %}
    <section class="filter brightness-75 bg-cover bg-center py-[50%] md:py-[30%] lg:py-[20%] xl:py-[10%]"
      style="background-image: url('assets/images/cat.jpg');">
    </section>
    {% else %}
    <section class="filter brightness-75 bg-cover bg-center py-[50%] md:py-[30%] lg:py-[20%] xl:py-[10%]"
      style="background-image: url({{ page.image }});">
    </section>
    {% endif %}
    <div class="flex justify-center">
      <div
        class="w-[90%] sm:w-3/4 sm:text-left text-white flex flex-col absolute top-1/2 -translate-y-1/2 gap gap-y-4 sm:gap-y-6">
        {% if page.layout == "home" %}
        <h1 class="text-4xl sm:text-5xl font-medium text-center sm:text-left">
          {{
          site.title
          }}
        </h1>
        {% else %}
        <h1 class="text-4xl sm:text-5xl font-medium text-center sm:text-left">{{
          page.title }}
        </h1>
        {% endif %}
        {% if page.layout == "home" %}
        <p class="text-xl text-center sm:text-left">{{ site.description }}</p>
        {% else %}
        <p class="text-xl text-center sm:text-left">{{ page.description }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</header>
