<!DOCTYPE html>
<html lang="ja">

<head>
  {% seo title=false %}
  <meta charset="utf-8">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐈</text></svg>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% if page.layout == "home" %}
  <title>{{ site.title }}</title>
  <link rel="preload" as="image" imagesrcset="assets/images/cat_1x.webp 600w, assets/images/cat_2x.webp 1200w">
  {% else %}
  <title>{{ page.title }} | {{ site.title }}</title>
  {% endif %}
  <link rel="preload" as="style" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="preload" as="style"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/styles/a11y-light.min.css">
  <link rel="preload" as="style"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/styles/a11y-dark.min.css">
  <link rel="modulepreload" href="{{ '/assets/js/main.js' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <script src="{{ '/assets/js/main.js' | relative_url }}" type="module" async></script>
</head>

<body>
  {% include header.html %}
  {% if page.layout == "home" %}
  <main class="home container">
    {% else %}
    <main class="post container">
      {% endif %}
      {{ content }}
    </main>
    {% include footer.html %}
</body>

</html>
