<!DOCTYPE html>
<html lang="ja">

<head>
  {% seo title=false %}
  <meta charset="utf-8">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐈</text></svg>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% if page.layout == "home" %}
  <title>{{ site.title }}</title>
  <link rel="preload" as="image" href="assets/images/cat.webp">
  {% for post in site.posts %}
  <link rel="preload" as="image" href="{{ post.image }}&?fit=clip&w=500&h=500">
  {% endfor %}
  {% else %}
  <title>{{ page.title }} | {{ site.title }}</title>
  {% endif %}
  <link rel="preload" as="style" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body class="flex flex-col h-screen">
  {% include header.html %}
  <main class="prose grow max-w-[90%] mx-auto">{{ content }}</main>
  {% include footer.html %}
</body>

</html>
