---
layout: default
---
<div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
  {% for post in site.posts %}
  <section>

    <div class="sm:flex md:justify-evenly">
      <a href="{{ post.url }}"
        class="text-xl font-semibold text-gray-800 no-underline flex flex-col lg:flex-row text-center px-3 py-2 sm:py-4 md:py-6 lg:py-8 bg-gray-100 hover:bg-gray-300 rounded-lg w-[90%] sm:w-full mx-auto sm:m-0">
        <img class="object-cover rounded-lg lg:w-[50%] mx-3 my-3 w-auto aspect-square" src="{{ post.image }}" alt=""
          height="300" width="300">
        <div class="flex flex-col justify-center px-6 sm:px-0 gap gap-y-2">
          {{ post.title }}
          <span class="text-sm text-gray-600">{{ post.date | date: "%Y-%m-%d" }}</span>
        </div>
      </a>
    </div>
  </section>
  {% endfor %}
</div>
